@charset "UTF-8";
@import "iconsfont.css"; /*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.header {
  background: url("../img/cover.png") no-repeat;
  overflow: hidden;
  background-position: 35% 50%;
  margin-top: -10px;
}
.header__content {
  max-width: 1192px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.header__content .head {
  height: 104px;
  display: flex;
  align-items: center;
  padding: 10px 0;
  justify-content: space-between;
}
.header__content .head__logo {
  flex: 0 1 640px;
}
.header__content .head__logo h3 {
  font-family: Martel;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #252B42;
}
.header__content .head__menu {
  display: flex;
}
.header__content .head__menu li a {
  color: #737373;
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: 600;
  line-height: 24px;
  margin: 0 22px;
}
.header__content .head__icon {
  display: flex;
  align-items: center;
  margin: 0 42px;
}
.header__content .head__icon a {
  margin: 0 11px;
}
.header__content .head__burger {
  display: flex;
  justify-content: end;
  flex: 1 1 165px;
}
.header__content .caption {
  display: flex;
  flex-direction: row;
  align-self: start;
}
.header__content .caption__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header__content .caption__about .caption__owntext {
  font-family: Martel;
  font-weight: 900;
  font-size: 58px;
  line-height: 65px;
}
.header__content .caption__about .caption__text {
  margin: 45px 0 35px 0;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.header__content .caption__about .caption__button {
  display: flex;
}
.header__content .caption__about .caption__button .caption__get {
  padding: 15px 36px 15px 36px;
  margin: 10px 12px 10px 0;
  background: #784F33;
  border-radius: 30px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
}
.header__content .caption__about .caption__button .caption__get a {
  color: #FFFFFF;
}
.header__content .caption__about .caption__button .caption__more {
  padding: 15px 36px 15px 36px;
  margin: 10px 36px 10px 0;
  border: 1px solid #784F33;
  border-radius: 30px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
}
.header__content .caption__about .caption__button .caption__more a {
  color: #784F33;
}
.header__content .caption__agent {
  min-height: 100%;
  overflow: hidden;
  max-width: 565px;
}

._container {
  max-width: 1192px;
  margin: 0 auto;
}
@media (max-width: 1212xppx) {
  ._container {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

.features5 {
  display: flex;
  flex-direction: column;
  max-width: 1192px;
  max-height: 530px;
  margin: 0 auto;
}
.features5 .feat5__content {
  display: flex;
  flex-direction: column;
  margin: 100px 0 80px 0;
  align-items: center;
}
.features5 .feat5__cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.features5 .feat5__card {
  width: 325px;
  height: 180px;
  background-color: #F9F9F9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: -2px 5px 16px #e3dfdf;
}
.features5 .blackcard {
  background-color: #295C7A;
}
.features5 .blackcard div {
  color: white;
}

.headh2 {
  font-size: 40px;
  font-family: Martel;
  font-weight: 700;
  line-height: 50px;
  color: #252B42;
}

.textd {
  margin-top: 30px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
  text-indent: 55px;
}

.label {
  font-size: 16px;
  color: #252B42;
  font-family: Martel;
  font-weight: 700;
  line-height: 24px;
  margin: 10px 0 0 0;
}

.features7 {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #FAFAFA;
}
.features7 .feat7__content {
  display: flex;
  flex-direction: column;
  margin: 100px 0 80px 0;
  align-items: center;
}
.features7 .feat7__cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.features7 .feat7__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px 10px 0;
  padding: 0 10px 10px 0;
}
.features7 .feat7__description {
  text-indent: 0;
  margin-top: 14px;
}
.features7 .feat7__cardbody {
  max-width: 160px;
  height: 160px;
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
