@charset "UTF-8";
@import "iconsfont.css"; /*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.header__content {
  max-width: 1192px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.header__content .head {
  height: 104px;
  display: flex;
  align-items: center;
  padding: 10px 0;
  justify-content: space-between;
}
.header__content .head__logo {
  flex: 0 1 640px;
}
.header__content .head__logo h3 {
  font-family: Martel;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #252B42;
}
.header__content .head__menu {
  display: flex;
}
.header__content .head__menu li a {
  color: #737373;
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: 600;
  line-height: 24px;
  margin: 0 22px;
}
.header__content .head__icon {
  display: flex;
  align-items: center;
  margin: 0 42px;
}
.header__content .head__icon a {
  margin: 0 11px;
}
.header__content .head__burger {
  display: flex;
  justify-content: end;
  flex: 1 1 165px;
}
.header__content .caption {
  display: flex;
  flex-direction: row;
  align-self: end;
}
.header__content .caption__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header__content .caption__about .caption__owntext {
  font-family: Martel;
  font-weight: 900;
  font-size: 58px;
  line-height: 65px;
}
.header__content .caption__about .caption__text {
  margin: 45px 0 35px 0;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.header__content .caption__about .caption__button {
  display: flex;
}
.header__content .caption__about .caption__button .caption__get {
  padding: 15px 36px 15px 36px;
  margin: 10px 12px 10px 0;
  background: #784F33;
  border-radius: 30px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
}
.header__content .caption__about .caption__button .caption__get a {
  color: #FFFFFF;
}
.header__content .caption__about .caption__button .caption__more {
  padding: 15px 36px 15px 36px;
  margin: 10px 36px 10px 0;
  border: 1px solid #784F33;
  border-radius: 30px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
}
.header__content .caption__about .caption__button .caption__more a {
  color: #784F33;
}
.header__content .caption__agent {
  width: 100%;
  height: 681px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
._container {
  background: url("../img/cover.png") no-repeat;
  max-width: 1100xppx;
  margin: 0 auto;
}
@media (max-width: 1112xppx) {
  ._container {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

/*# sourceMappingURL=style.css.map */
