@import "iconsfont.css";
@import "nullstyle.scss";

 // Martel 700 900
 // Open Sans 600 700 400
 // Montserrat 500 400

@import url('https://fonts.googleapis.com/css2?family=Martel:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

$minWidth: 414px;
$maxWidth: 1443px;
$maxWidthContainer: 1200xp;
$md1: $maxWidthContainer +12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

.header{
  background: url("../img/cover.png") no-repeat;
  overflow: hidden;
  background-position: 35% 50%;
  margin-top: -10px;


  &__content{

    max-width: 1192px;
    padding: 10px;
    display: flex;
    flex-direction: column;

    .head{
      height: 104px;
      display: flex;
      align-items: center;
      padding: 10px 0;
      justify-content: space-between;

      &__logo{
        h3{
          font-family: Martel;
          font-weight: 700;
          font-size: 24px;
          line-height: 32px;
          color: #252B42;
        }
        flex: 0 1 640px;
      }
      &__menu{
        display: flex;
        li{
          a{
            color: #737373;
            font-size: 14px;
            font-family: "Open Sans";
            font-weight: 600;
            line-height: 24px;
            margin: 0 22px;
          }
        }
      }
      &__icon{
        display: flex;
        align-items: center;
        margin: 0 42px;
        a{
          margin: 0 11px;
        }
      }
      &__burger{
        display: flex;
        justify-content: end;
        flex: 1 1 165px;
      }
    }

    .caption{
      display: flex;
      flex-direction: row;
      align-self: start;


    }
    .caption__about{
      display: flex;
      flex-direction: column;
      justify-content: center;

      .caption__owntext{
        font-family: Martel;
        font-weight: 900;
        font-size: 58px;
        line-height: 65px;
      }
      .caption__text{
        margin: 45px 0 35px 0;
        font-family: Montserrat;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
      }
      .caption__button{
        display: flex;
          .caption__get{
            padding: 15px 36px 15px 36px;
            margin: 10px 12px 10px 0;
            background: #784F33;
            border-radius: 30px;
            font-family: "Open Sans";
            font-size: 14px;
            font-weight: 700;
            line-height: 28px;
            a{color: #FFFFFF;}
          }
          .caption__more{
            padding: 15px 36px 15px 36px;
            margin: 10px 36px 10px 0;
            border: 1px solid #784F33;
            border-radius: 30px;
            font-family: "Open Sans";
            font-size: 14px;
            font-weight: 700;
            line-height: 28px;
            a{color: #784F33;}
          }

      }


    }
    .caption__agent{
        min-height: 100%;
      overflow: hidden;
      max-width: 565px;

    }





  }
}
//.wrapper{
//  width: 100%;
//  min-height: 100%;
//  overflow: hidden;
//  display: flex;
//  flex-direction: column;
//  &._loaded{
//
//  }
//}

._container{
  max-width: 1192px;
  margin: 0 auto;

  @media (max-width: $md1+px) {
    max-width: 970px;
  }
  @media (max-width: $md2+px) {
    max-width: 750px;
  }
  @media (max-width: $md3+px) {
    max-width: none;
    padding: 0 10px;
  }
}

.features5{
  display: flex;
  flex-direction: column;
  max-width: 1192px;
  max-height: 530px;
  margin: 0 auto;
}
.feat5__content{
  display: flex;
  flex-direction: column;
  margin: 100px 0 80px 0 ;
  align-items: center;

}


.feat5__head{
  font-size: 40px;
  font-family: Martel;
  font-weight: 700;
  line-height: 50px;
  color: #252B42;
}
.feat5__text{
  margin-top: 30px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
  text-indent: 80px;
}
.feat5__cards{
  display: flex;
  justify-content:space-between;
  margin-bottom: 80px;
}
.feat5__card{
  width: 325px;
  height: 180px;
  background-color: #00000012;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.feat5__label{
  font-size: 16px;
  color: #252B42;
  font-family: Martel;
  font-weight: 700;
  line-height: 24px;
  margin: 10px 0 0 0 ;
}
.blackcard{
  background-color: #295C7A;
  div{
    color: white;
  }
}



