@charset "UTF-8";
@import "iconsfont.css"; /*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.header {
  background: url("../img/cover.png") no-repeat;
  background-position: center;
  margin-top: -10px;
}
.header__content {
  max-width: 1440px;
  flex: 1 1 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.header__content .head {
  height: 104px;
  width: 1440px;
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.header__content .head__logo {
  flex: 0 1 640px;
}
.header__content .head__logo h3 {
  font-family: Martel;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #252B42;
}
.header__content .head__menu {
  display: flex;
}
.header__content .head__menu li a {
  color: #737373;
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: 600;
  line-height: 24px;
  margin: 0 22px;
}
.header__content .head__icon {
  display: flex;
  align-items: center;
  margin: 0 42px;
}
.header__content .head__icon a {
  margin: 0 11px;
}
.header__content .head__burger {
  display: flex;
  justify-content: end;
  flex: 0 1 86px;
}
.header__content .caption {
  display: flex;
  flex-direction: row;
  align-self: start;
}
.header__content .caption__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header__content .caption__about .caption__owntext {
  font-family: Martel;
  font-weight: 900;
  font-size: 58px;
  line-height: 65px;
}
.header__content .caption__about .caption__text {
  margin: 45px 0 35px 0;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.header__content .caption__about .caption__button {
  display: flex;
}
.header__content .caption__about .caption__button .caption__get {
  padding: 15px 0 15px 0;
  margin: 12px;
  background: #784F33;
  border-radius: 30px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
}
.header__content .caption__about .caption__button .caption__get a {
  color: #FFFFFF;
  padding: 15px 36px 15px 36px;
}
.header__content .caption__about .caption__button .caption__more {
  padding: 15px 0 15px 0;
  margin: 12px;
  border: 1px solid #784F33;
  border-radius: 30px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
}
.header__content .caption__about .caption__button .caption__more a {
  color: #784F33;
  padding: 15px 36px 15px 36px;
}
.header__content .caption__agent {
  min-height: 100%;
  overflow: hidden;
  max-width: 565px;
  margin-left: 100px;
}

._container {
  max-width: 1192px;
  margin: 0 auto;
}
@media (max-width: 1212xppx) {
  ._container {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

.features5 {
  display: flex;
  flex-direction: column;
  max-width: 1192px;
  max-height: 530px;
  margin: 0 auto;
}
.features5 .feat5__content {
  display: flex;
  flex-direction: column;
  margin: 100px 0 80px 0;
  align-items: center;
}
.features5 .feat5__cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.features5 .feat5__card {
  width: 325px;
  height: 180px;
  background-color: #F9F9F9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: -2px 5px 16px #e3dfdf;
}
.features5 .blackcard {
  background-color: #295C7A;
}
.features5 .blackcard div {
  color: white;
}

.headh2 {
  font-size: 40px;
  font-family: Martel;
  font-weight: 700;
  line-height: 50px;
  color: #252B42;
}

.textd {
  margin-top: 30px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
  text-indent: 55px;
}

.label {
  font-size: 16px;
  color: #252B42;
  font-family: Martel;
  font-weight: 700;
  line-height: 24px;
  margin: 10px 0 0 0;
}

.features7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #FAFAFA;
}
.features7 .feat7__main {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.features7 .feat7__main .feat7__head {
  text-indent: 40px;
}
.features7 .feat7__content {
  display: flex;
  flex-direction: column;
  margin: 200px 0 100px 0;
}
.features7 .feat7__cards {
  display: flex;
  max-width: 1200px;
  flex: 1 1 auto;
  justify-content: space-between;
  margin: 0 70px 80px 0;
}
.features7 .feat7__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 46px 0 46px;
  background: white;
}
.features7 .feat7__description {
  text-indent: 0;
  margin-top: 14px;
}
.features7 .feat7__cardbody {
  max-width: 140px;
  height: 160px;
  display: flex;
  flex-direction: column;
}

.about2 {
  margin: 0 auto;
  height: 890px;
}
.about2 .about2__main {
  margin: 100px 0 130px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about2 .about2__row {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.about2 .about2__text {
  text-indent: 0;
  text-align: center;
}
.about2 .about2__media a img {
  height: 440px;
  width: 660px;
}
.about2 .about2__colum {
  width: 320px;
  align-self: center;
}
.about2 .about2__text2 {
  text-indent: 0;
  margin: 10px 0 50px 0;
}
.about2 .about2__card1 {
  margin-bottom: 30px;
  padding: 0 0 0 50px;
  background: url("../img/cardpeople.png") no-repeat;
}
.about2 .about2__card1 h5 {
  font-family: Martel;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #252B42;
}
.about2 .about2__card1 h6 {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #737373;
}
.about2 .about2__card2 {
  background: url("../img/cardspeed.png") no-repeat;
  padding: 0 0 0 50px;
}
.about2 .about2__card2 h5 {
  font-family: Martel;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #252B42;
}
.about2 .about2__card2 h6 {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #737373;
}

.clients2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 1440px;
  background: linear-gradient(#FAFAFA 70%, #252B42 30%);
}

.clients2__contant {
  width: 1440px;
  height: 339px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.clients2__body {
  display: flex;
  flex-direction: column;
  width: 986px;
  height: 340px;
  margin-bottom: -56px;
}
.clients2__body .clients2__icons {
  display: flex;
  justify-content: space-between;
}
.clients2__body .clients2__cardclient {
  background: linear-gradient(270deg, #295C7A -1.04%, #0072B5 100%);
  border-radius: 2px;
  display: flex;
  width: 986px;
  height: 124px;
  margin: 40px 0 20px 0;
  justify-content: center;
  align-items: center;
}
.clients2__body .clients2__enter {
  height: 58px;
  width: 450px;
  background: white;
}
.clients2__body .clients2__entr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.clients2__body .clients2__email {
  margin: 0 0 0 20px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
}
.clients2__body .clients2__subscrible {
  width: 117px;
  height: 58px;
  background: #D0A144;
  border: 1px solid #E6E6E6;
  border-radius: 0 5px 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clients2__body .clients2__subscrible a {
  color: white;
  padding: 20px 40px 20px 40px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
}
.clients2__body .clients2__cardbody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  height: 58px;
}
.clients2__body .clients2__text h3 {
  font-family: Martel;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #FFFFFF;
}

.contact4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 1440px;
  background: #F3F3F3;
}

.contact4__contant {
  width: 1440px;
  height: 808px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.contact4__body {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact4__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact4__cards {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact4__card {
  width: 328px;
  height: 332px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact4__card h6 {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #252B42;
  margin-top: 15px;
  text-align: center;
}
.contact4__card h5 {
  font-family: Martel;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #252B42;
  margin: 15px;
}
.contact4__card a {
  color: #D0A144;
  border: 1px solid #D0A144;
  padding: 15px;
}

.card2 {
  background: #252B42;
  height: 392px;
}
.card2 h5 {
  color: white;
}
.card2 h6 {
  color: white;
}

.footer {
  margin: 0 auto;
  width: 1440px;
  background: #FAFAFA;
}

.footer1__head h3 {
  font-size: 24px;
}

.footer1__text {
  text-indent: 0;
  margin: 0;
}

.footer1__body {
  height: 142px;
  display: flex;
  align-items: center;
}

.footer1__main {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer1__contact {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer1__contact div {
  padding: 20px 0 24px 0;
  background: #784F33;
  border-radius: 5px;
}
.footer1__contact div a {
  color: white;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  padding: 20px 50px 24px 50px;
}

.footer2body {
  margin: 0 auto;
  width: 1440px;
  background: linear-gradient(270deg, #295C7A -1.04%, #0072B5 100%);
}

.footer2__contant {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 272px;
}

.footer2__body {
  max-width: 930px;
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
}

.footer2__head {
  margin-bottom: 20px;
  color: white;
  font-family: Martel;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.footer2__text a {
  color: white;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 14px;
  line-height: 34px;
}

.footer2__link a {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 40px;
  color: white;
  margin: 0 0 0 30px;
}

.link1 {
  background: url("../img/bluephone.png") no-repeat;
}

.link2 {
  background: url("../img/bluelable.png") no-repeat;
}

.link3 {
  background: url("../img/blueletter.png") no-repeat;
}

.footer3__contant {
  height: 74px;
  display: flex;
  justify-content: center;
}

.footer3__body {
  display: flex;
  max-width: 930px;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
}

.footer3__icons {
  display: flex;
  max-width: 100px;
  flex: 1 1 auto;
  justify-content: space-between;
}

.footer3__text h6 {
  color: #737373;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

/*# sourceMappingURL=style.css.map */
